@charset "UTF-8";
#index h1{
    font-size: 100px;
    line-height: 1;
    color: #ffffff;
    font-family: 'Bitter', serif;
    margin-bottom: 50px;
}

index p{
    font-size: 16px;
    color: #ffffff;
}

.btn a{
    background-color: #009cd3;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Bitter', serif;
    width: 185px;
    display: block;
    text-align: center;
    line-height: 50px;
    margin-top: 20px;
    border-radius: 5px;
    border: 3px solid #009cd3;
}

.btn a:hover{
    text-decoration: none;
    background-color: #ffffff;
    color: #009cd3;
}

#index footer{
    width: 960px;
    margin: 150px auto 0 auto;
    text-align: left;
}

#index{
    background-image: url(bg-index.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
